.mdbtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdbtn-left {
    background: #333333;
    padding: 30px;
    text-align: center;
    color: white;
}

/*BASE BUTTON*/
.mdbtn-right {
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;

    background-image: linear-gradient(#ffffff, #ebebeb);
    background-size: auto 200%;
    background-position: 0 100%;
    transition: background-position 0.5s;
}

.mdbtn-right:hover {
    /* shift background gradient position */
    background-position: 0 0;
    cursor: pointer;
    text-decoration: none;
}

div i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.center-vertical {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.longbar {
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    padding: 10px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#result {
    padding: 10px;
}